@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{

    --mainTitleColor: #212529;
    --secondTextColor: #ff206e;
    --font: "Open Sans", sans-serif;
}
body{
font-family: var(--font);
background-image: url(../assets/light_dot.jpg);
height: 2000px;
}
.container{
    width: 80%;
}

/* .navbar-toggler span{
height: 3px;
width: 1px;
background-color: #ff206e;
color: wheat;
} */

/* start header section *********************************** */

/* navbar *********************************** */
.navbar-toggler {
    padding: 0;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 30px; 
}

.navbar-toggler span {
    height: 2px;
    width: 100%;
    background-color: white;
  
}
.navbar-toggler span:nth-child(3){
    width: 50%; 
}

.navbar{
background-color:black;
}
.navbar-brand{
    letter-spacing:3px ;
    font-size:1rem;
    font-weight: 600;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: white;
    text-transform: uppercase;
    font-size:0.875rem;

}
.navbar-nav .nav-item a.active{
    color: var(--secondTextColor);
}

/* header content *********************************** */

.header{
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    position: relative;

}
.header-title{
    text-transform: uppercase;
    font-size:3rem;
    font-weight: 900;


}
.header .a{
    color: var(--secondTextColor);
    text-transform: uppercase;
    letter-spacing:1.2px ;

}


.text-effect {
    position: relative;
    display: inline-block;
    overflow: hidden;  /*يخفي العناصر خارج الإطار */
}

.text-effect::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: slide-animation 1.2s ease-in-out forwards;
    -webkit-animation: slide-animation 1.2s ease-in-out forwards;
}

@keyframes slide-animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%); 
    }
}

.home-bar  ul{
    width: 40%;
}
.home-bar ul li a i{
 font-size: 0.85rem;
 color: white;
 width: 35px;
 height: 35px;
 border: solid 0.1px rgba(220, 220, 220, 0.2);
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 line-height: 35px;
 text-align: center;
 transition: border-color 0.6s ease-out;
 -webkit-transition: border-color 0.6s ease-out;
 -moz-transition: border-color 0.6s ease-out;
 -ms-transition: border-color 0.6s ease-out;
 -o-transition: border-color 0.6s ease-out;
 position: absolute;
 bottom: 0;
}
.home-bar ul li a i:hover{
    border-color: white; 
}

.home-bar {
    width: 50%;
    /* background-color: #ff206e; */
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    /* right: 1rem; */
}
/*  */


.scroll-indicator {
   display: block;
   width: 25px;
   height: 35px;
   border: solid 0.1px rgba(220, 220, 220, 0.2);
   transition: border-color 0.6s ease-out;
   border-radius: 40%;
   position: relative;
   -webkit-border-radius: 40%;
   -moz-border-radius: 40%;
   -ms-border-radius: 40%;
   -o-border-radius: 40%;
   -webkit-transition: border-color 0.6s ease-out;
   -moz-transition: border-color 0.6s ease-out;
   -ms-transition: border-color 0.6s ease-out;
   -o-transition: border-color 0.6s ease-out;
}
.scroll-indicator:hover{
    border-color: white;
}
  .scroll-dot {
   width: 2.2px;
   height: 2.2px;
   background-color: white;
   border-radius: 50%;
   position: absolute;
   top: 10px;
   left: 11.4px;
   /*25\2-2.2\2=11.4*/animation: scroll-bounce 1s infinite ;
   -webkit-animation: scroll-bounce 2s infinite ;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}
  
  @keyframes scroll-bounce {
    0% {
      top: 10px; 
    }
    90% {
        top: 25px; 
      }
    100% {
      top: 10px; 
    }
  }
  
/* Media Query for header*/
@media (min-width: 576px) and (max-width: 768px)  {
    .container{
        width: 95%;
    }
    .header{
        background-position: center;     
    }
    .home-bar  {
        justify-content: center; 
        width: 100%; 

        margin-bottom: 0px;
    }
    .home-bar ul{
        margin:  auto;
    }
    .home-bar .home-scroll{
        display: none;
    }
 
}
@media (max-width: 576px) {
    .container{
        width: 95%;
    }
    .header{
        background-position: center;     
    }

    .home-bar  {
        justify-content: center; 
        width: 100%; 

        margin-bottom: 0px;

    }
    .home-bar ul{
        margin:  auto;
    }
    .home-bar .home-scroll{
        display: none;
    }
 
}

/* end header section *********************************** */


/* start about section *********************************** */


.about_title {
    position: relative; 

}

.about_title .main-title {
    font-size: 5rem;
    letter-spacing: 3px;
    color: #f1f1f1;
    text-transform:uppercase;
    line-height:1.2;

    position: relative;
    font-weight: 800;
    text-align: center;
  
}

.about_title .sub-title {
    z-index: 22;
color: #000;
    text-transform:uppercase;
    font-size: 2.9rem;
    letter-spacing: 3px;
    font-weight: 800;
    position: absolute;
    width: 100%;
    top: 25%;
    /* right: 22px; */
    text-align: center;
    margin-top: .25rem;
    line-height:1.2;
    
}

.about{
    padding: 4.5rem 0;
}
.about_title ~ p {
    font-size: .875rem;
text-align: center;
color: var(--mainTitleColor);
margin-bottom: 4rem;
}
.about-img{
    /* background-color: #ff206e; */
    width: 31%;
margin: auto;    
}

.about-text{
    
    width: 69%;
    /* padding: 2rem 7rem; */
    padding-top: 2rem;
    padding-left: 5.6rem;
}
.about-text p{
    padding: 1.5rem 0;

}
.about-text h4{

    font-weight: 600;
    font-size :1.5rem;
    margin-bottom: .5rem;

}
.about-text h6{
    margin-bottom: 1.5rem;
    color: var(--secondTextColor);
    font-weight: 600;
    font-size :1rem;
}
.about-text a{
    font-weight: 600;
    color: #000;
  
}

/* Media Query for About Section*/
@media (min-width: 576px) and (max-width: 768px)  {
  
    .about-img{
        width: 100%;
      margin-bottom: 3rem;
    }
    .about-content{
        flex-direction: column;
    }
    .about-text{
        width: 100%;
        padding-left: 0rem;
    
    }

}
@media (max-width: 576px) {


.about-img{

    width: 100%;
  margin-bottom: 3rem;
}
.about-content{
    flex-direction: column;
}
.about-text{
    width: 100%;
    padding-left: 0rem;

}
}
/* end about section *********************************** */
